
@using Microsoft.AspNetCore.Http;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h3>Welcome @Context.Session.GetString("uname")!!</h3>
    <br/>
    <a asp-controller="account" asp-action="logout">Logout</a>
</body>
</html>
